---
import { PrismicRichText, PrismicText } from '@prismicio/react'
import client from '../../lib/prismic'
import type { IProduct } from '../../types/IProduct.ts'
import Layout from '../../layouts/Layout.astro'
import ImageGallery from '../../components/ItemGallery'

const { uid } = Astro.params

if (!uid) throw Astro.redirect('/404')

let product: IProduct
try {
	const result = await client.getByUID('product', uid)
	product = {
		uid: result.uid,
		name: result.data.name,
		description: result.data.description,
		price: result.data.price,
		gallery: result.data.gallery,
	}
} catch (error) {
	return Astro.redirect('/404')
}
---

<Layout>
	<section>
		<article>
			<div class='image-gallery-wrapper'>
				<ImageGallery product={product} />
			</div>
			<div class='info'>
				<h1><PrismicText field={product.name} /></h1>
				<div class='price'>{product.price}€</div>
				<div class='richtext'>
					<PrismicRichText field={product.description} />
				</div>
			</div>
		</article>
	</section>
</Layout>

<style>
	section {
		margin: 50px 10%;
		color: #7a9ccc;
	}

	article {
		display: flex;
		gap: 30px;
	}

	.image-gallery-wrapper {
		min-height: 70vh;
		width: 70vh;
	}
</style>
