<header>
	<h1>Tienda Prismic!</h1>
</header>

<style>
	header {
		margin: 0px 10%;
		height: 150px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid #48115a;
	}

	h1 {
		color: #b354d3;
	}
</style>
