---
import client from '../lib/prismic'
import { PrismicImage, PrismicRichText, PrismicText } from '@prismicio/react'

const result = await client.getAllByType('product')

const products = result.map((product) => {
	const uid = product.uid
	const name = product.data.name
	const description = product.data.description
	const gallery = product.data.gallery

	return { uid, name, description, gallery }
})

console.log(result[1].data.gallery)
---

<section>
	{
		products.map((product) => (
			<article>
				<div class='img'>
					<PrismicImage field={product.gallery[0].image.thumbnail} />
				</div>

				<div class='info'>
					<h1>
						<PrismicText field={product.name} />
					</h1>
					<div class='richtext'>
						<PrismicRichText field={product.description} />
					</div>
				</div>
			</article>
		))
	}
</section>

<style>
	section {
		display: flex;
		gap: 30px;
		margin: 50px 10%;
	}

	article {
		display: flex;
		width: 300px;
		flex-direction: column;
		background-color: #150331;
		border-radius: 5px;
		color: #ffffff;
		border: 1px solid #1f0745;
	}

	.info {
		padding: 20px;
	}

	.richtext :global(ul) {
		margin-left: 20px;
	}

	.richtext :global(p) {
		margin-bottom: 10px;
	}

	.richtext :global(a) {
		color: #ffffff;
		text-decoration: none;
	}

	.img :global(img) {
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	h1 {
		font-size: 1em;
		font-weight: bold;
		margin-bottom: 20px;
	}
</style>
